.menu {
  justify-content: center;
  background-color: var(--color-quaternary-background);
}

.menu__item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1rem;
}

.menu__item:hover {
  background-color: var(--secondary-font-color);
}

a {
  text-decoration: none;
  color: var(--tertiary-font-color);
}

a:hover {
  text-decoration: none;
  color: var(--tertiary-font-color);
}

.is-active {
  border-bottom: 2px solid var(--secondary-font-color);
  padding-bottom: 0.1rem;
}
