.searchbar {
  margin: 2rem;
}

.searchbar__input:focus {
  box-shadow: 0 0 0.25rem 0.05rem var(--secondary-font-color);
}

.searchbar__button {
  background-color: var(--color-quaternary-background);
  border-color: var(--color-quaternary-background);
}

.searchbar__button:hover {
  background-color: var(--secondary-font-color);
  border-color: var(--secondary-font-color);
}

.searchbar__button:focus {
  background-color: var(--secondary-font-color);
  border-color: var(--secondary-font-color);
}
