body {
  margin: 0;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
.App {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --color-primary-background: #ffffff;
  --color-secondary-background: #f2f2f2;
  --color-tertiary-background: #e6e6e6;
  --color-quaternary-background: #2c3e50;
  --color-warning: #ed2460;
  --primary-font-color: black;
  --secondary-font-color: #52b7bd;
  --tertiary-font-color: #ffffff;
}
