.bubble__title {
  font-size: 1.5rem;
}

.bubble__subtitle {
  font-size: 1.5rem;
}

.bubble__text {
  font-size: 1.2rem;
}

.bubble {
  padding-top: 1rem !important;
  opacity: 0.95 !important;
  border-radius: 1rem !important;
}
