.definition__examples-sentences {
  display: flex;
  justify-content: center;
}

.definition {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  justify-items: start;
  align-items: baseline;
}

.definition__part {
  display: flex;
  align-items: center;
  margin: 1rem 0 1rem 0;
}

.definition__description {
  justify-self: end;
  margin-right: 2rem;
  font-style: italic;
  color: var(--quaternary-font-color);
  font-weight: bold;
}

.definition__found-word {
  font-size: 1.5rem;
}

.definition__tag {
  padding-right: 0.5rem;
  font-size: 1.2rem;
}

.definition__example-level {
  display: flex;
  align-items: baseline;
}

.definition__example-level-title {
  font-weight: 600;
  margin: 0 1rem 0 0;
}

@media screen and (max-width: 1400px) {
  .definition__tags-container {
    position: static;
    margin: 1rem 1rem 2rem 1rem;
  }
}
