.derivation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1.5rem 0 0.5rem 0;
}

.highlight {
  color: var(--secondary-font-color);
}

.derivation__text {
  font-weight: 400;
}
